// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;

$font-size--h4:               1.25em !default;

$line-height:                 1.375em !default;

$screen-lg:                   992px !default;

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$z-index-modal:               200;

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  -webkit-overflow-scrolling: touch;

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-lg) {
      width: 600px;
      height: auto;

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    outline: 0;
  }

  &__header {
    padding: 25px 40px 0 40px;
    flex-shrink: 0;
  }

  &__title {
    margin-top: ($line-height / 2);
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h2;
    line-height: 1.4;
    font-weight: 700;
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 15px;
    right: 15px;
    background: $color-main;
    border-radius: 50%;
    padding: 4px;
    &.close {
      width: 28px;
      height: 28px;
    }
  }

  &__body {
    padding: 0 40px;
    flex-grow: 1;
  }

  &__footer {
    padding: 40px;
    flex-shrink: 0;
  }

  &__produt-action {
    .btn-group {
      margin-top: 30px;
      display: flex;

      .btn + .btn {
        margin-left: 20px;
      }
    }
  }
  &__produt-inf {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 5px;
    span {
      font-weight: bold;
    }
  }

  &__request {
    display: flex;
    background: #fff;
    flex-grow: 1;
    height: 100%;
  }
  &__request-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    width: 40%;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }
  &__request-body {
    flex-grow: 1;
    padding: 80px 20px 20px 20px;
  }
  &__request__head {
    text-align: center;
    margin-bottom: 70px;

    .modal__close {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  &__request__title {
    font-size: 33px;
    line-height: 1;
  }
  &__request__phone {
    font-size: 41px;
    font-weight: bold;
    line-height: 1;
  }
  &__form {
    .field-text__input {
      box-sizing: border-box;
    }
    .field-checkbox__name {
      margin-right: 0;
      font-size: 18px;
      a {
        color: #2f64c4;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .field-actions {
      margin-top: 40px;
      .btn {
        display: block;
        width: 100%;
        border-radius: 0;
        font-size: 22px;
      }
    }
  }
  &__form-text {
    font-size: 22px;
    text-align: center;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: ($z-index-modal - 1);
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#modal-product {
  .modal__dialog {
    @media (min-width: $screen-lg) {
      width: 680px;
    }
  }
  .product-card {
    display: flex;
  }
}

#modal-request {
  .modal__dialog {
    @media (min-width: $screen-lg) {
      width: 960px;
    }
  }
  .modal__content {
    border-radius: 13px;
    box-shadow: 0px 0px 32.2px 2.8px rgba(112, 112, 112, 0.19);
  }
}

@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
