
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fafbfb;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.section-line-decor {
  &:before,
  &:after {
    @media (min-width: $screen-lg) {
      content: "";
      height: 3px;
      width: 100%;
      max-width: 312px;
      background: #a0a0a0;
      display: block;
      margin: auto;
    }
  }
  &:before {
    @media (min-width: $screen-lg) {
      margin-bottom: 30px;
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: 90px;
    }
  }
  &:after {
    @media (min-width: $screen-lg) {
      margin-top: 30px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 90px;
    }
  }
}

.container {
  @include container;
}

.mobile-hidden {
  @media (max-width: ($screen-lg - 1)) {
    display: none !important;
  }
}
.mobile-show {
  display: none;
  @media (max-width: ($screen-lg - 1)) {
    display: block !important;
  }
}

.like {
  &.active {
    fill: $red;
  }
}

#mobile-nav {
  display: none;
}

@mixin mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  text-indent: 0;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 15px;
  font-size: 18px;
  vertical-align: top;
  speak: never;
}

.hc-offcanvas-nav {

  .nav-wrapper-0 > .nav-content {
    padding-bottom: 41px;
  }

  h2 {
    font-weight: 400;
  }

  a {
    font-size: 16px;
  }

  li {

    .custom-message {
      font-size: 12px;

      a {
        color: #fff;
        font-size: 13px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.search {
      .nav-item {
        padding-top: 0;
      }

      input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        color: #fff;
        background: rgba(#fff, .12);
        padding: 5px 10px;
        box-shadow: none;
        border: 1px solid rgba(#fff, .05);

        &::placeholder {
          color: rgba(#fff, .8);
        }
      }
    }

    // &.add > .nav-item-wrapper a::before {
    //   @include mi;
    //   content: 'add';
    // }

    // &.new > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'fiber_new';
    // }

    // &.cryptocurrency > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'local_atm';
    // }

    // &.devices > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'devices';
    // }

    // &.mobile > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'phone_android';
    // }

    // &.television > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'desktop_windows';
    // }

    // &.camera > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'camera_alt';
    // }

    // &.magazines > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'import_contacts';
    // }

    // &.store > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'store';
    // }

    // &.collections > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'collections';
    // }

    // &.nolink > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'format_clear';
    // }

    // &.disabled > .nav-item-wrapper .nav-item::before {
    //   @include mi;
    //   content: 'block';
    // }
  }

  &.nav-position-top,
  &.nav-position-bottom {

    ul.bottom-nav {
      position: relative;
      border-top: none;
    }

    .nav-wrapper-0 > .nav-content {
      padding-bottom: 0;
    }
  }

  ul.bottom-nav {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border-top: 1px solid darken(#000, 6%);

    li {
      flex: auto;

      a {
        padding: 10px;
        text-align: center;
        height: 100%;
        border-bottom: none;
      }

      svg {
        fill: #fff;
        display: inline-block;
        vertical-align: middle;
      }

      &.github {
        svg {
          width: 17px;
          height: 17px;
        }
      }

      &.ko-fi {
        svg {
          width: 21px;
          height: 21px;
        }
      }

      &.email {
        svg {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -6px;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #2d2d2d;
}
.hc-offcanvas-nav li:not(.custom-content) a {
  border-bottom: 1px solid #212020;
}
.hc-offcanvas-nav .nav-item {
  border-bottom: 1px solid #212020;
}
.hc-offcanvas-nav a.nav-next {
  border-left: 1px solid #212020;
}
.hc-offcanvas-nav:not(.touch-device) li:not(.custom-content) a:hover {
  background: darken(#212020, 2%);
}

.product-carousel {
  .owl-stage-outer {
    padding-bottom: 80px;

    @media (min-width: $screen-xxl) {
      padding-bottom: 95px;
    }
  }
}
.section.product-carousel-section {
  padding-bottom: 5px;
}