// В этом файле должны быть стили для БЭМ-блока basket-code, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.basket-code {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
  @media (min-width: $screen-lg) {
    margin-bottom: 30px;
  }

  &__caption {
    color: #555555;
    font-size: 13px;
    margin-right: 10px;

    @media (min-width: $screen-xl) {
      font-size: 16px;
      margin-right: 17px;
    }
    @media (min-width: $screen-xxl) {
      font-size: 22px;
    }
  }
  &__wrap {
    display: flex;
    // flex-direction: column;
    .field-text {
      margin-bottom: 0;
      margin-right: 10px;
      @media (min-width: $screen-xxl) {
        margin-right: 17px;
      }
    }
  }
}
