// В этом файле должны быть стили для БЭМ-блока sorting, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sorting {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  margin-bottom: 60px;
  
  &__part {
    background: #dcdcdc;
    padding: 20px 30px;
    flex-grow: 1;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}
