// В этом файле должны быть стили для БЭМ-блока catalog-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    flex-grow: 1;
    margin: 0 7px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background: $color-main;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    position: relative;

    @media (min-width: $screen-xxl) {
      font-size: 24px;
      padding: 14px 28px;
    }

    svg {
      margin-right: 10px;
    }

    &:before {
      content: "";
      width: 14px;
      height: 8px;
      position: absolute;
      right: 18px;
      top: calc(50% - 4px);
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Creator: CorelDRAW 2019 (64-Bit) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='1.8946mm' height='0.8837mm' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd'%0AviewBox='0 0 3.15 1.47' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:xodm='http://www.corel.com/coreldraw/odm/2003'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .str0 %7Bstroke:%23632B1B;stroke-width:0.33;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256%7D .fil0 %7Bfill:none%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Слой_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Cpolyline class='fil0 str0' points='0.17,0.22 1.56,1.3 2.98,0.17 '/%3E%3C/g%3E%3C/svg%3E%0A");
    
      @media (min-width: $screen-xxl) {
        right: 43px;
        width: 23px;
        height: 11px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: darken($color-main, 5%);
    }

    &--lvl-2 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
